div {
    background-color:cadetblue;
    text-align: center;
    padding: 20px;
}

div:nth-of-type(odd) {
    background-color: darkcyan;
}

.content {
    display: grid;
    /*grid-template-columns: 1fr 1fr 1fr;*/
    grid-template-columns: repeat(6,1fr);
    gap: 5px;
    /*grid-template-rows: 1fr 1fr 1fr 1fr;*/
    grid-template-rows: repeat(3,150px);
}

.one {
    grid-column-start: 1;
    grid-column-end: 3;
}

.two {
    grid-column: 3 / 6;  
}