h1 {
    font-size: 5em;
    color: green;
}

.green-items {
    color: green;
}

#green-item {
    font-size: 2em;
}

.red-items {
    color:red;
    font-size: 30em;
}

.parent {
    font-size:5em;
    color:purple;
}

.child {
   /*add some property here */
   font-size: 2em;
}

li {
    color: blue;
}